/* Modal */
.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 0.2s ease-in-out;
  z-index: 999;
}

.modal-fondo {
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: white;
  border-radius: 5px;
  color: rgb(51, 51, 51);
  display: inline;
  font-size: 0.7rem;
  max-height: 30rem;
  max-width: 23rem;
  outline: none;
  padding: 8px;
}
.modal input,
.modal label {
  font-size: 0.8rem;
  margin-top: 0;
  max-height: 1.3rem;
}
.moda small {
  margin: 0;
}

.fab {
  border-radius: 100%;
  bottom: 1.6rem;
  font-size: 2rem;
  padding: 1.3rem;
  position: fixed;
  right: 1.3rem;
}
